.entries {
    padding: 2px;
    border-bottom: 1px dotted #999;
    list-style: none;
}
.hours {
    padding: 2px;
}
.hour_00 {
    background-color: #00316E;
    color: white;
}
.hour_01 {
    background-color: #015863;
    color: white;
}
.hour_02 {
    background-color: #01616D;
    color: white;
}
.hour_03 {
    background-color: #016673;
    color: white;
}
.hour_04 {
    background-color: #01707E;
    color: white;
}
.hour_05 {
    background-color: #017887;
    color: white;
}

.hour_06 {
    background-color: #028090;
    color: white;
}
.hour_07 {
    background-color: #008B7C;
    color: white;
}
.hour_08 {
    background-color: #009787;
    color: white;
}
.hour_09 {
    background-color: #00A08F;
    color: white;
}
.hour_10 {
    background-color: #00A896;
    color: white;
}
.hour_11 {
    background-color: #01A17F;
    color: white;
}
.hour_12 {
    background-color: #01AB87;
    color: white;
}
.hour_13 {
    background-color: #01BA93;
    color: white;
}
.hour_14 {
    background-color: #02C39A;
    color: white;
}
.hour_15 {
    background-color: #CCCEA0;
    color: #333;
}
.hour_16 {
    background-color: #DEE0AE;
    color: #333;
}
.hour_17 {
    background-color: #E9EBB7;
    color: #333;
}
.hour_18 {
    background-color: #F0F3BD;
    color: #333;
}
.hour_19 {
    background-color: #D6BC55;
    color: #333;
}
.hour_20 {
    background-color: #E4C95B;
    color: #333;
}
.hour_21 {
    background-color: #F6D862;
    color: #333;
}
.hour_22 {
    background-color: #FFE066;
    color: #333;
}
.hour_23 {
    background-color: #FFC258;
    color: #333;
}